<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <!-- Font Awesome Symbols -->
    <script src="https://kit.fontawesome.com/41c98711df.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="footer">
        <hr class="separation" id="footer-separation">
        <div class="d-felx mx5 justify-content-between py-3">
            <a href="/" class="footer-item" id="footer-brand">V</a>
            <p class="same">&copy; 2023 Vedant Grover</p>

            <div class="col-4 text-end" id="socials">
                <a href="https://www.instagram.com/vedantgrover06" class="footer-link" id="footer-link-instagram" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com/VedantGrover5" class="footer-link" id="footer-link-twitter" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.github.com/vedantgrover" class="footer-link" id="footer-link-github" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>