.homeBanner {
    position: sticky;

    top: 0px;
    background-color: white;
}

.homeTabs {
    width: 50%;

    margin: 0 auto;

    padding: 0.5em;

    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#socialMediaIcons {
    /* Positional Values for the icons */
    width: 25%;
    position: relative;
    top: 20px;
    left: 50px;
}

a {
    padding: 0.5em;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkblue;
    font-size: 100px;
}

.contactMe {
    width: 25%;
    text-align: right;

    position: relative;
    right: 50px;

    margin-left: auto;

    transform: translateY(-23px);

}

#contactButton {
    color: black;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;

    border: none;
    padding: 15px;
}

#contactButton:hover {
    color: darkblue;
}

#myPicture {
    width: 25%;
    height: 100%;
    float: right;

    animation: 1.5s welcomeZoom;

    margin-left: auto;
}

#caption {
    text-align: center;
    color: grey;
    font-size: 11px;

    animation: 3s captionFadeIn;

    font-family: Montserrat, sans-serif;
}

#welcome {
    width: 74%;
    height: 475px;
    float: left;

    animation: 3s welcomeZoom;

    margin-right: auto;
}

#welcomeText {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.aboutMe {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(white, skyblue);
}

#wai {
    text-align: center;
}

#sports {
    width: 50%;

    padding: 15px;

    text-align: center;
    margin-left: auto;
}

#sportsVideo {
    width: 44%;

    padding: 15px;

    text-align: center;

    transform: translateY(-94%);
    margin-right: auto;
}

#robotics {
    border: solid;
    width: 50%;

    padding: 15px;

    text-align: center;
    margin-right: auto;
}

#roboticsImage {
    border: solid;
    width: 44%;

    padding: 15px;

    text-align: center;

    margin-left: auto;

    transform: translateY(-50%);
}

#contactMe {
    border: solid;
    text-align: center;
    transform: translateY(-300%);
}

#snakeGame {
    text-align: center;

    transform: translateY(-50%);
}

#gameBoard {
    border: 3px solid;
    background-color: white;
}

#scoreText {
    font-family: "Montserrat", sans-serif;
    font-size: 75px;
}

#resetBtn {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    width: 75px;
    height: 25px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

@keyframes welcomeZoom {
    0% { transform: scale(0.5, 0.5);}
}

@keyframes captionFadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}