<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Vedant Grover</title>

    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Vedant.</a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Skills</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </nav>

        <div class="toggle">
            <i class='bx bx-moon toggle-icon'></i>
        </div>
    </header>

    <section class="home">
        <div class="home-content">
            <h3>Hello, I am</h3>
            <h1>Vedant Grover</h1>
            <p>An aspiring computer science student looking to make the world a better place through software.</p>

            <div class="social-media">
                <a href="#"><i class='bx bxl-github' ></i></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-youtube' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>

            <a href="#" class="btn">Contact Me</a>
        </div>
    </section>

</body>

</html>