<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Vedant Grover</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<%- include("partials/header.ejs") %>

    <body>
        <div class="welcome-page">
            <div class="welcome-text">
                <div class="intro-text">
                    <h4 id="upper-text">Hey there...</h4>
                    <h1 id="name-text">I'm Vedant!</h1>
                </div>
            </div>

            <div class="image-container">
                <img src="images/me.png" alt="This is me!" id="me-image">
            </div>
        </div>
    </body>

    <%- include("partials/footer.ejs") %>

</html>